<!DOCTYPE html>
<html  dir="ltr" lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   



    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Simplydatatech | Online Courses </title>


    <link rel="shortcut icon" href="/assets/image/new/Logo-part.png">
    <link rel="icon" href="/assets/image/new/Logo-part.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/image/new/Logo-part.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/image/new/Logo-part.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/image/new/Logo-part.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/image/new/Logo-part.png">
    <meta name="msapplication-TileColor" content="#ffa500">
    <meta name="msapplication-TileImage" content="/assets/image/new/Logo-part.png">
    <meta name="theme-color" content="#ffffff">

    <meta name="description"
          content="simplydatatech is the popular online Bootcamp &amp; online courses learning platform that offers the industry&#39;s best PGPs, Master&#39;s, and Live Training. Start upskilling!">


    <meta property="og:locale" content="en-US">
    <meta property="og:site_name" content="Simplydatatech.com">
    <meta property="og:url" content="">
    <meta property="og:title" content="Simplydatatech | Online Courses - Bootcamp &amp; Certification Platform">
    <meta property="og:description"
          content="Simplydatatech is the popular online Bootcamp &amp; online courses learning platform that offers the industry&#39;s best PGPs, Master&#39;s, and Live Training. Start upskilling!">
    <meta property="og:image" content="/assets/image/new/Logo-part.png">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="app">

    <meta name="twitter:site:id" content="Simplydatatech">
    <meta name="twitter:creator" content="Simplydatatech">
    <meta property="twitter:app:name:iphone" content="Simplydatatech">
    <meta property="twitter:app:id:iphone" content="9990056233">
    <meta property="twitter:app:name:ipad" content="Simplydatatech">
    <!-- <meta property="twitter:app:id:ipad" content="963042747"> -->
    <!-- <meta property="twitter:app:name:googleplay" content="simplydatatech">
    <meta property="twitter:app:id:googleplay" content="com.mobile.simplydatatech"> -->
    <meta name="twitter:url" content="">
    <meta name="twitter:site" content="Simplydatatech">
    <meta name="twitter:title" content="Simplydatatech | Online Courses - Bootcamp &amp; Certification Platform">
    <meta name="twitter:description"
          content="Simplydatatech is the popular online Bootcamp &amp; online courses learning platform that offers the industry&#39;s best PGPs, Master&#39;s, and Live Training. Start upskilling!">
    <meta name="twitter:image" content="/assets/image/new/Logo-part.png">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="/assets/js/gumlet.min.js" async=""></script>

    <link href="/assets/css/main-font.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/home-lazy.css" rel="preload" as="style">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">*@

    <script src="/assets/js/home-lazy.nfxm91n1p1.js" defer="" type="text/javascript"></script>


    <script type="text/javascript" src="/assets/js/jquery-noamd.min.js"></script>
    <!-- <script src="./assets/js/4002550.js" type="text/javascript" async="" data-ueto="ueto_471edb006b"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js" type="text/javascript"></script>

</head>

<body class="body">
    <div id="root" data-path="https://www.simplydatatech.com/">
        <div>
            <div class="home-page">
                <div id="offerbanner">
                    <div id="promotional-banner-inner-container" class="offer-pormo"></div>
                </div>
                <div id="topsubmenu" class="top-sub-menu">
                    <div class="container">
                        <a href="/Resources.html" rel="noreferrer"
                           title="Resources">Resources</a>
                        <a href="/ForBusiness.html" rel="noreferrer"
                           title="Simplydatatech for Business">Simplydatatech for Business</a>
                        <a href="/Becomeourtrainer.html" rel="noreferrer" title="Become an Instructor">Become an Instructor</a>
                        <a href="/HireFromUs.html" rel="noreferrer"
                           title="Hire From Us">Hire From Us</a>
                        @*<a href="/reviews" rel="noreferrer" target="_blank"
                            title="Reviews">Reviews</a>*@
                    </div>
                </div>

                <div id="HeaderMenu" class="">
                    <header id="topHeader" class="">
                        <div class="container">
                            <a href="/" class="logo"
                               title="Simplydatatech - Online Certification Training Course Provider">
                                @*<h4 style="color:blue">Simplydatatech</h4>*@
                                <img src="/assets/image/new/Logo.png"
                                     width="100" height="31"
                                     alt="simplydatatech - Online Certification Training Course Provider"
                                     title="simplydatatech - Online Certification Training Course Provider"
                                     data-gumlet="false" loading="lazy">
                            </a>
                            <nav class="links-left">
                                <div id="menu-button">
                                    <span class="courses-menu" title="All Courses">
                                        <span>
                                            All
                                            Courses
                                        </span>
                                    </span>
                                </div>
                                <div class="search_topbar">
                                    <span class="s_icon toogle-search-icon"></span>
                                    <div class="search" id="homepage-search-form">
                                        <form name="homepage-search-tag" action="/home/search">
                                            @*<input type="hidden" name="item_type"
                                                value="">*@
                                            <input type="search" id="header_srch" autocomplete="off" aria-label="Search"
                                                   class="form-control input-search-field" name="terms"
                                                   placeholder="What do you want to learn?">
                                            <button type="submit"
                                                    class="input-search-btn" title="search">
                                                <span class="search_icon input-search-icon"></span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </nav>
                            <nav class="links-right">
                                <a href="tel:9990056233" class="login" title="Call Now"> Call Now</a>
                            </nav>
                        </div>
                    </header>
                </div>
                <div id="MegaMenu" class="hide">
                    <div>
                        <div id="megamenu-mobile-overlay" class="menu-overlay visible-sm hide">
                            <div class="first-menu">
                                <ul>
                                    <li class="visible-sm menu-head"><span class="back-btn"></span>Menu</li>
                                    @*<li><span class="mobile-all-courses" title="All courses">All courses</span></li>*@
                                    <li>
                                        <a href="/Resources.html"
                                           title="Resources">Resources</a>
                                    </li>
                                    <li>
                                        <a href="/ForBusiness.html"
                                           title="simplydatatech for Business">simplydatatech for Business</a>
                                    </li>
                                    <li>
                                        <a href="/Becomeourtrainer.html"
                                           title="Become an Instructor">Become an Instructor</a>
                                    </li>
                                    <li>
                                        <a href="/HireFromUs.html"
                                           rel="noreferrer" title="Hire From Us">Hire From Us</a>
                                    </li>
                                    @*<li>
                                            <a href="/digital-transformation-training"
                                               title="Digital transformation">Digital transformation</a>
                                        </li>
                                        <li>
                                            <a href="/reviews" target="_blank"
                                               title="Reviews">Reviews</a>
                                        </li>*@
                                </ul>
                            </div>
                        </div>
                        <div id="megamenu-box" class="menu-container right hide-sm hide">
                            <ul class="menu">
                                <li>
                                    <h4 class="hidden-sm">COURSE CATEGORIES</h4>
                                </li>
                                <li class="visible-sm menu-head">
                                    <span class="back-btn"></span>All courses<span class="back-btn menu-close-btn"></span>
                                </li>
                                <li class="menu-item active">
                                    <a class="menu-cat" title="Data Science">
                                        <span class="back-arrow"></span>Data Science
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="col-md-7 pull-right">
                                            @*<div class="unversity-wrap">
                                                    <h4>University PROGRAMs</h4>
                                                    <div class="univ-list">
                                                        <a href="/iitk-professional-certificate-course-data-science"
                                                           title="Professional Certificate Course in Data Science"
                                                           data-category-id="40"
                                                           data-category-name="Data Science &amp; Business Analytics">
                                                            <div class="uni-logo">
                                                                <img src="/assets/image/IITK_University_Logo_on_Megamenu.png"
                                                                     alt="IIT Kanpur" data-gumlet="false" class="gm-added"
                                                                     loading="lazy">
                                                            </div>
                                                            <div class="univ-info">
                                                                <h5>Professional Certificate Course in Data Science</h5>
                                                                <span>IIT Kanpur</span>
                                                            </div>
                                                        </a><a href="https://www.simplydatatech.com/post-graduate-program-data-science"
                                                               title="Caltech Post Graduate Program in Data Science"
                                                               data-category-id="40"
                                                               data-category-name="Data Science &amp; Business Analytics">
                                                            <div class="uni-logo">
                                                                <img src="/assets/image/Caltech_Megamenu.svgz"
                                                                     alt="Caltech CTME" data-gumlet="false" class="gm-added"
                                                                     loading="lazy">
                                                            </div>
                                                            <div class="univ-info">
                                                                <h5>Caltech Post Graduate Program in Data Science</h5>
                                                                <span>Caltech CTME</span>
                                                            </div>
                                                        </a><a href="https://www.simplydatatech.com/iitk-professional-certificate-course-data-analytics"
                                                               title="Professional Certificate Course in Data Analytics"
                                                               data-category-id="40"
                                                               data-category-name="Data Science &amp; Business Analytics">
                                                            <div class="uni-logo">
                                                                <img src="/assets/image/IITK_University_Logo_on_Megamenu.png"
                                                                     alt="IIT Kanpur" data-gumlet="false" class="gm-added"
                                                                     loading="lazy">
                                                            </div>
                                                            <div class="univ-info">
                                                                <h5>Professional Certificate Course in Data Analytics</h5>
                                                                <span>IIT Kanpur</span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>*@
                                            <div class="master-wrap">
                                                <h4>Masters program</h4>
                                                <div class="menu-master-prg">
                                                    <a href="/DataScience.html"
                                                       title="Data Scientist" class="master-link" data-category-id="40"
                                                       data-category-name="Data Science &amp; Business Analytics">
                                                        <a href="/DataScience.html">
                                                            <img src="/assets/image/new/Logo-part.png"
                                                                 width="40" height="40" alt="Masters program"
                                                                 data-gumlet="false" class="gm-added"
                                                                 loading="lazy"><span>Data Science</span>
                                                        </a>
                                                        <ul>
                                                            <li>9 courses | Duration: 11 Months</li>
                                                            <li>In Collaboration With <b>IBM</b></li>
                                                            <li>simplydatatech Job Assaurance  Program</li>
                                                        </ul>
                                                    </a>
                                                </div>
                                                @*<div class="menu-master-prg">
                                                        <a href="https://www.simplydatatech.com/data-analyst-masters-certification-training-course"
                                                           title="Data Analyst" class="master-link" data-category-id="40"
                                                           data-category-name="Data Science &amp; Business Analytics">
                                                            <a>
                                                                <img src="/assets/image/master_icon.svgz"
                                                                     width="40" height="40" alt="Masters program"
                                                                     data-gumlet="false" class="gm-added"
                                                                     loading="lazy"><span>Data Science</span>
                                                            </a>
                                                            <ul>
                                                                <li>9 courses | Duration: 11 Months</li>
                                                                <li>In Collaboration With <b>IBM</b></li>
                                                                <li>simplydatatech JobAssist Program</li>
                                                            </ul>
                                                        </a>
                                                    </div>*@
                                            </div>
                                        </li>

                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-cat" title="Data Analyst">
                                        <span class="back-arrow"></span>Data Analyst
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="col-md-7 pull-right">
                                            @*<div class="unversity-wrap">
                                                    <h4>University PROGRAMs</h4>
                                                    <div class="univ-list">
                                                        <a href="https://www.simplydatatech.com/iitk-professional-certificate-course-data-science"
                                                           title="Professional Certificate Course in Data Science"
                                                           data-category-id="40"
                                                           data-category-name="Data Science &amp; Business Analytics">
                                                            <div class="uni-logo">
                                                                <img src="/assets/image/IITK_University_Logo_on_Megamenu.png"
                                                                     alt="IIT Kanpur" data-gumlet="false" class="gm-added"
                                                                     loading="lazy">
                                                            </div>
                                                            <div class="univ-info">
                                                                <h5>Professional Certificate Course in Data Science</h5>
                                                                <span>IIT Kanpur</span>
                                                            </div>
                                                        </a><a href="https://www.simplydatatech.com/post-graduate-program-data-science"
                                                               title="Caltech Post Graduate Program in Data Science"
                                                               data-category-id="40"
                                                               data-category-name="Data Science &amp; Business Analytics">
                                                            <div class="uni-logo">
                                                                <img src="/assets/image/Caltech_Megamenu.svgz"
                                                                     alt="Caltech CTME" data-gumlet="false" class="gm-added"
                                                                     loading="lazy">
                                                            </div>
                                                            <div class="univ-info">
                                                                <h5>Caltech Post Graduate Program in Data Science</h5>
                                                                <span>Caltech CTME</span>
                                                            </div>
                                                        </a><a href="https://www.simplydatatech.com/iitk-professional-certificate-course-data-analytics"
                                                               title="Professional Certificate Course in Data Analytics"
                                                               data-category-id="40"
                                                               data-category-name="Data Science &amp; Business Analytics">
                                                            <div class="uni-logo">
                                                                <img src="/assets/image/IITK_University_Logo_on_Megamenu.png"
                                                                     alt="IIT Kanpur" data-gumlet="false" class="gm-added"
                                                                     loading="lazy">
                                                            </div>
                                                            <div class="univ-info">
                                                                <h5>Professional Certificate Course in Data Analytics</h5>
                                                                <span>IIT Kanpur</span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>*@
                                            <div class="master-wrap">
                                                <h4>Masters program</h4>
                                                <div class="menu-master-prg">
                                                    <a href="/DataAnalyst.html"
                                                       title="Data Scientist" class="master-link" data-category-id="40"
                                                       data-category-name="Data Science &amp; Business Analytics">
                                                        <a href="/DataAnalyst.html">
                                                            <img src="/assets/image/new/Logo-part.png"
                                                                 width="40" height="40" alt="Masters program"
                                                                 data-gumlet="false" class="gm-added"
                                                                 loading="lazy"><span>Data Analyst</span>
                                                        </a>
                                                        <ul>
                                                            <li>9 courses | Duration: 11 Months</li>
                                                            <li>In Collaboration With <b>IBM</b></li>
                                                            <li>simplydatatech Job Assaurance Program</li>
                                                        </ul>
                                                    </a>
                                                </div>
                                                @*<div class="menu-master-prg">
                                                        <a href="https://www.simplydatatech.com/data-analyst-masters-certification-training-course"
                                                           title="Data Analyst" class="master-link" data-category-id="40"
                                                           data-category-name="Data Science &amp; Business Analytics">
                                                            <a>
                                                                <img src="/assets/image/master_icon.svgz"
                                                                     width="40" height="40" alt="Masters program"
                                                                     data-gumlet="false" class="gm-added"
                                                                     loading="lazy"><span>Data Analyst</span>
                                                            </a>
                                                            <ul>
                                                                <li>9 courses | Duration: 11 Months</li>
                                                                <li>In Collaboration With <b>IBM</b></li>
                                                                <li>simplydatatech JobAssist Program</li>
                                                            </ul>
                                                        </a>
                                                    </div>*@
                                            </div>
                                        </li>

                                    </ul>
                                </li>

                                <li class="menu-item">
                                    <a class="menu-cat" title="Investment banking">
                                        <span class="back-arrow"></span>Investment Banking
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="col-md-7 pull-right">
                                            @*<div class="unversity-wrap">
                                                    <h4>University PROGRAMs</h4>
                                                    <div class="univ-list">
                                                        <a href="https://www.simplydatatech.com/iitk-professional-certificate-course-data-science"
                                                           title="Professional Certificate Course in Data Science"
                                                           data-category-id="40"
                                                           data-category-name="Data Science &amp; Business Analytics">
                                                            <div class="uni-logo">
                                                                <img src="/assets/image/IITK_University_Logo_on_Megamenu.png"
                                                                     alt="IIT Kanpur" data-gumlet="false" class="gm-added"
                                                                     loading="lazy">
                                                            </div>
                                                            <div class="univ-info">
                                                                <h5>Professional Certificate Course in Data Science</h5>
                                                                <span>IIT Kanpur</span>
                                                            </div>
                                                        </a><a href="https://www.simplydatatech.com/post-graduate-program-data-science"
                                                               title="Caltech Post Graduate Program in Data Science"
                                                               data-category-id="40"
                                                               data-category-name="Data Science &amp; Business Analytics">
                                                            <div class="uni-logo">
                                                                <img src="/assets/image/Caltech_Megamenu.svgz"
                                                                     alt="Caltech CTME" data-gumlet="false" class="gm-added"
                                                                     loading="lazy">
                                                            </div>
                                                            <div class="univ-info">
                                                                <h5>Caltech Post Graduate Program in Data Science</h5>
                                                                <span>Caltech CTME</span>
                                                            </div>
                                                        </a><a href="https://www.simplydatatech.com/iitk-professional-certificate-course-data-analytics"
                                                               title="Professional Certificate Course in Data Analytics"
                                                               data-category-id="40"
                                                               data-category-name="Data Science &amp; Business Analytics">
                                                            <div class="uni-logo">
                                                                <img src="/assets/image/IITK_University_Logo_on_Megamenu.png"
                                                                     alt="IIT Kanpur" data-gumlet="false" class="gm-added"
                                                                     loading="lazy">
                                                            </div>
                                                            <div class="univ-info">
                                                                <h5>Professional Certificate Course in Data Analytics</h5>
                                                                <span>IIT Kanpur</span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>*@
                                            <div class="master-wrap">
                                                <h4>Masters program</h4>
                                                <div class="menu-master-prg">
                                                    <a href="/InvestmentBanking.html"
                                                       title="Data Scientist" class="master-link" data-category-id="40"
                                                       data-category-name="Data Science &amp; Business Analytics">
                                                        <a href="/InvestmentBanking.html">
                                                            <img src="/assets/image/new/Logo-part.png"
                                                                 width="40" height="40" alt="Masters program"
                                                                 data-gumlet="false" class="gm-added"
                                                                 loading="lazy"><span>Investment banking</span>
                                                        </a>
                                                        <ul>
                                                            <li>9 courses | Duration: 11 Months</li>
                                                            <li>In Collaboration With <b>IBM</b></li>
                                                            <li>simplydatatech Job Assaurance Program</li>
                                                        </ul>
                                                    </a>
                                                </div>
                                                @*<div class="menu-master-prg">
                                                        <a href="https://www.simplydatatech.com/data-analyst-masters-certification-training-course"
                                                           title="Data Analyst" class="master-link" data-category-id="40"
                                                           data-category-name="Data Science &amp; Business Analytics">
                                                            <a>
                                                                <img src="/assets/image/master_icon.svgz"
                                                                     width="40" height="40" alt="Masters program"
                                                                     data-gumlet="false" class="gm-added"
                                                                     loading="lazy"><span>Investment banking</span>
                                                            </a>
                                                            <ul>
                                                                <li>9 courses | Duration: 11 Months</li>
                                                                <li>In Collaboration With <b>IBM</b></li>
                                                                <li>simplydatatech JobAssist Program</li>
                                                            </ul>
                                                        </a>
                                                    </div>*@
                                            </div>
                                        </li>

                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-cat" title="Digital Marketing">
                                        <span class="back-arrow"></span>Digital Marketing
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="col-md-7 pull-right">
                                            @*<div class="unversity-wrap">
                                                    <h4>University PROGRAMs</h4>
                                                    <div class="univ-list">
                                                        <a href="https://www.simplydatatech.com/iitk-professional-certificate-course-data-science"
                                                           title="Professional Certificate Course in Data Science"
                                                           data-category-id="40"
                                                           data-category-name="Data Science &amp; Business Analytics">
                                                            <div class="uni-logo">
                                                                <img src="/assets/image/IITK_University_Logo_on_Megamenu.png"
                                                                     alt="IIT Kanpur" data-gumlet="false" class="gm-added"
                                                                     loading="lazy">
                                                            </div>
                                                            <div class="univ-info">
                                                                <h5>Professional Certificate Course in Data Science</h5>
                                                                <span>IIT Kanpur</span>
                                                            </div>
                                                        </a><a href="https://www.simplydatatech.com/post-graduate-program-data-science"
                                                               title="Caltech Post Graduate Program in Data Science"
                                                               data-category-id="40"
                                                               data-category-name="Data Science &amp; Business Analytics">
                                                            <div class="uni-logo">
                                                                <img src="/assets/image/Caltech_Megamenu.svgz"
                                                                     alt="Caltech CTME" data-gumlet="false" class="gm-added"
                                                                     loading="lazy">
                                                            </div>
                                                            <div class="univ-info">
                                                                <h5>Caltech Post Graduate Program in Data Science</h5>
                                                                <span>Caltech CTME</span>
                                                            </div>
                                                        </a><a href="https://www.simplydatatech.com/iitk-professional-certificate-course-data-analytics"
                                                               title="Professional Certificate Course in Data Analytics"
                                                               data-category-id="40"
                                                               data-category-name="Data Science &amp; Business Analytics">
                                                            <div class="uni-logo">
                                                                <img src="/assets/image/IITK_University_Logo_on_Megamenu.png"
                                                                     alt="IIT Kanpur" data-gumlet="false" class="gm-added"
                                                                     loading="lazy">
                                                            </div>
                                                            <div class="univ-info">
                                                                <h5>Professional Certificate Course in Data Analytics</h5>
                                                                <span>IIT Kanpur</span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>*@
                                            <div class="master-wrap">
                                                <h4>Masters program</h4>
                                                <div class="menu-master-prg">
                                                    <a href="/DigitalMarketing.html"
                                                       title="Data Scientist" class="master-link" data-category-id="40"
                                                       data-category-name="Data Science &amp; Business Analytics">
                                                        <a href="/DigitalMarketing.html">
                                                            <img src="/assets/image/new/Logo-part.png"
                                                                 width="40" height="40" alt="Masters program"
                                                                 data-gumlet="false" class="gm-added"
                                                                 loading="lazy"><span>Digital Marketing</span>
                                                        </a>
                                                        <ul>
                                                            <li>9 courses | Duration: 11 Months</li>
                                                            <li>In Collaboration With <b>IBM</b></li>
                                                            <li>simplydatatech Job Assaurance Program</li>
                                                        </ul>
                                                    </a>
                                                </div>
                                                @*<div class="menu-master-prg">
                                                        <a href="https://www.simplydatatech.com/data-analyst-masters-certification-training-course"
                                                           title="Data Analyst" class="master-link" data-category-id="40"
                                                           data-category-name="Data Science &amp; Business Analytics">
                                                            <a>
                                                                <img src="/assets/image/master_icon.svgz"
                                                                     width="40" height="40" alt="Masters program"
                                                                     data-gumlet="false" class="gm-added"
                                                                     loading="lazy"><span>Digital Marketing</span>
                                                            </a>
                                                            <ul>
                                                                <li>9 courses | Duration: 11 Months</li>
                                                                <li>In Collaboration With <b>IBM</b></li>
                                                                <li>simplydatatech JobAssist Program</li>
                                                            </ul>
                                                        </a>
                                                    </div>*@
                                            </div>
                                        </li>
                                        @*<li class="category-btn">
                                                <a href="https://www.simplydatatech.com/data-science-and-business-analytics"
                                                   title="Explore the category">Explore the category</a>
                                            </li>*@
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
                @RenderBody()
                <div id="stickyfooter">
                    <div class="sticky-clear dskstickyfooter">
                        <div class="sticky-footer-gdpr active-sticky-footer">
                            <div class="container">
                                <div class="footer_sticky_bar">
                                    <div>
                                        <ul class="live_chat_div">
                                            <li class="callback_link">
                                                <a class="sticky_request_call"
                                                   href="javascript:void();" data-phone-code="IN"
                                                   title="Request a callback">
                                                    <span class="aap_icon call_back_footer"></span>Request a callback
                                                </a>
                                            </li>
                                            <li class="call_no_stiky">
                                                <span class="aap_icon call_us_on"></span>Call us
                                                on <a href="tel: 9990056233" target="_blank" title="9990056233">
                                                    9990056233
                                                </a>
                                            </li>
                                            <li class="live_chat_icon btn_active_green">
                                                <a onclick="$zoho.salesiq.floatwindow.visible('show')"  class="support ive_chat_right"
                                                   title="Live Chat" style="cursor: pointer;">
                                                    <span class="aap_icon chat_icon_footer gamooga_chat_span"></span>
                                                    <img data-gumlet="false" height="20" width="20"
                                                         class="gamooga_chat_loading hide gm-added hidden_class"
                                                         src="/assets/image/rolling.gif" alt="Loading..."
                                                         loading="lazy">
                                                    <div class="live_text_chat">Live Chat</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="callbackleadform" id="callbackleadform">
                                <div class="mobile-sticky-form query-success-form">
                                    <span class="closeFooterCallBackForm">
                                        <a href="javascript:void();" class=""
                                           title="REQUEST A CALL BACK">REQUEST A CALL BACK</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sticky-clear mobilestickyfooter" style="display:none;">
                        <div class="sticky-footer-gdpr active-sticky-footer">
                            <div class="container">
                                <div class="footer_sticky_bar">
                                    <div class="mobile_lead_wrapper">
                                        <a href="tel: 9990056233" title="Call Us">Call Us</a>
                                        <a onclick="$zoho.salesiq.floatwindow.visible('show')"  title="Chat">Chat</a>
                                        <a class="query" href="#" title="Query?">Query?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="callbackleadform" id="callbackleadform">
                                <div class="mobile-sticky-form query-success-form">
                                    <h4 class="heading-label"> Request more information</h4>
                                    <span class="closeFooterCallBackForm">
                                        <span class="close_btn"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer id="footer">
                    <div>
                        <div class="mobile-footer">
                            <p class="">© 2009 -<!-- -->2023<!-- -->- simplydatatech Solutions</p>
                        </div>
                        <div class="hidden-mobile footer-links">
                            <div>
                                <div class="container footer-container">
                                    <div class="col-md-2 foot-socials">
                                        <p class="follow-us">Follow us!</p>
                                        @*<a href="https://www.simplydatatech.com/refer-and-earn" rel="noreferrer"
                                               target="_blank" class="refer-earn" title="Refer and Earn">
                                                Refer and
                                                Earn
                                            </a>*@
                                        <a class="share facebook" title="Facebook" rel="noreferrer"
                                           target="_blank" href="https://www.facebook.com/simplydatatech">

                                        </a>
                                        @*<a class="share twitter" target="_blank" rel="noreferrer" title="Twitter"
                                            href="https://www.twitter.com/simplydatatech"></a>*@
                                        <a class="share youtube"
                                           target="_blank" rel="noreferrer" title="YouTube"
                                           href="https://www.youtube.com/user/simplydatatech"></a>
                                        <a class="share linkedin" target="_blank" rel="noreferrer" title="LinkedIn"
                                           href="https://www.linkedin.com/in/simplydata-tech-315736286">

                                        </a>
                                        @*<a class="share telegram desktop" target="_blank" rel="noreferrer"
                                               title="Telegram"
                                               href="https://web.telegram.org/#/im?p=simplydatatechupdates"></a>
                                            <a class="share telegram mobile" target="_blank" rel="noreferrer"
                                               title="Telegram" href="https://t.me/simplydatatechupdates"></a>*@
                                        <a class="share insta" target="_blank" rel="noreferrer" title="Instagram"
                                           href="https://instagram.com/simplydatatech?igshid=MzRlODBiNWFlZA==">
                                            <span class=""></span>
                                        </a>
                                    </div>
                                    <div class="col-md-2 foot_company">
                                        <p class="follow-us">Company</p>
                                        <a href="/home/about"
                                           data-eventname="footer_company_link_clicked" title="About us">
                                            About
                                            us
                                        </a><a href="/Resources.html"
                                               data-eventname="footer_company_link_clicked" title="Careers">Resources  </a>
                                        @*<a href="https://www.simplydatatech.com/partners/sl/newsroom"
                                               data-eventname="footer_company_link_clicked" title="Newsroom">
                                                Newsroom
                                            </a>
                                            <a href="https://www.simplydatatech.com/reviews"
                                               data-eventname="footer_company_link_clicked" title="Alumni speak">
                                                Alumni
                                                speak
                                            </a>
                                            <a href="https://www.simplydatatech.com/grievance-redressal"
                                               data-eventname="footer_company_link_clicked" title="Grievance redressal">
                                                Grievance redressal
                                            </a>*@
                                        <a href="/home/contact"
                                           data-eventname="footer_company_link_clicked" title="Contact us">
                                            Contact
                                            us
                                        </a>
                                    </div>
                                    <div class="col-md-2 footer_workus">
                                        <p class="follow-us">Work with us</p>
                                        <a href="/Becomeourtrainer.html"
                                           data-eventname="footer_work_with_us_link_clicked"
                                           title="Become an instructor"> Become an instructor</a>
                                        <a href="/HireFromUs.html"
                                           data-eventname="footer_work_with_us_link_clicked" title="Hire From Us">
                                            Hire From Us
                                        </a>
                                    </div>

                                    @*<div class="col-md-2 footer_discover">
                                            <div>
                                                <p class="follow-us">Discover</p>
                                                <a href="https://www.simplydatatech.com/skillup-free-online-courses"
                                                   data-eventname="footer_discover_link_clicked"
                                                   title="Skillup">Skillup</a><a href="https://www.simplydatatech.com/skillup-sitemap"
                                                                                 data-eventname="footer_discover_link_clicked"
                                                                                 title="Skillup Sitemap">Skillup Sitemap</a>
                                                <a href="https://www.simplydatatech.com/Resources.html"
                                                   data-eventname="footer_discover_link_clicked"
                                                   title="Resources">Resources</a><a href="https://www.simplydatatech.com/feed"
                                                                                     data-eventname="footer_discover_link_clicked" title="RSS feed">
                                                    RSS
                                                    feed
                                                </a><a href="https://www.simplydatatech.com/city-sitemap"
                                                       data-eventname="footer_discover_link_clicked" title="City Sitemap">
                                                    City
                                                    Sitemap
                                                </a>
                                            </div>
                                            <div>
                                                <p class="follow-us">For Businesses</p>
                                                <a href="https://www.simplydatatech.com/corporate-training"
                                                   data-eventname="footer_for_business_clicked" rel="noreferrer"
                                                   target="_blank" title="Corporate training">Corporate training</a>
                                                <a href="https://www.simplydatatech.com/reseller-partner-program-for-training-courses"
                                                   data-eventname="footer_for_business_clicked"
                                                   title="Partners">Partners</a>
                                                <a href="https://www.simplydatatech.com/digital-transformation-training"
                                                   data-eventname="footer_for_business_clicked"
                                                   title="Digital Transformation">Digital Transformation</a>
                                            </div>
                                        </div>*@
                                    @*<div class="col-md-2 footer-disc">
                                            <p class="follow-us">Learn On the Go!</p>
                                            <a rel="noreferrer"
                                               href="https://play.google.com/store/apps/details?id=com.mobile.simplydatatech"
                                               target="_blank" class="" title="Get the Android App">
                                                Get the Android
                                                App
                                            </a><a rel="noreferrer"
                                                   href="https://apps.apple.com/app/simplydatatech/id963042747?ls=1"
                                                   target="_blank" class="ios-app" title="Get the iOS App">Get the iOS App</a>
                                        </div>*@
                                    @*<div class="brand-courses">
                                            <div>
                                                <p>Trending Post Graduate Programs</p><a href="https://www.simplydatatech.com/artificial-intelligence-masters-program-training-course"
                                                                                         title="Artificial Intelligence Course">
                                                    Artificial Intelligence
                                                    Course
                                                </a> | <a href="https://www.simplydatatech.com/pgp-cloud-computing-certification-training-course"
                                                          title="Cloud Computing Certification Course">
                                                    Cloud Computing
                                                    Certification Course
                                                </a> | <a href="https://www.simplydatatech.com/pgp-full-stack-web-development-certification-training-course"
                                                          title="Full Stack Web Development Course">
                                                    Full Stack Web Development
                                                    Course
                                                </a> | <a href="https://www.simplydatatech.com/pgp-data-science-certification-bootcamp-program"
                                                          title="PG in Data Science">PG in Data Science</a> | <a href="https://www.simplydatatech.com/ms-in-artificial-intelligence"
                                                                                                                 title="MS in Artificial Intelligence">MS in Artificial Intelligence</a>
                                                | <a href="https://www.simplydatatech.com/product-management-certification-training-course"
                                                     title="Product Management Certification Course">
                                                    Product Management
                                                    Certification Course
                                                </a> | <a href="https://www.simplydatatech.com/blockchain-certification-training-course"
                                                          title="Blockchain Course">Blockchain Course</a> | <a href="https://www.simplydatatech.com/iitk-professional-certificate-course-ai-machine-learning"
                                                                                                               title="Machine Learning Course">Machine Learning Course</a> | <a href="https://www.simplydatatech.com/pgp-advanced-executive-program-in-cyber-security"
                                                                                                                                                                                title="Cyber Security Course in India">
                                                    Cyber Security Course in
                                                    India
                                                </a> | <a href="https://www.simplydatatech.com/pgp-project-management-certification-training-course"
                                                          title="Project Management Certification Course">
                                                    Project Management
                                                    Certification Course
                                                </a> | <a href="https://www.simplydatatech.com/pgp-cyber-security-certification-training-course"
                                                          title="Cyber Security Certification Course">
                                                    Cyber Security Certification
                                                    Course
                                                </a> |
                                                <a href="https://www.simplydatatech.com/pgp-lean-six-sigma-certification-training-course"
                                                   title="Lean Six Sigma Certification Course">
                                                    Lean Six Sigma Certification
                                                    Course
                                                </a> | <a href="https://www.simplydatatech.com/pgp-data-analytics-certification-training-course"
                                                          title="Data Analytics Program">Data Analytics Program</a> |
                                                <a href="https://www.simplydatatech.com/pgp-ai-machine-learning-certification-training-course"
                                                   title="AI and ML Course">AI and ML Course</a> | <a href="https://www.simplydatatech.com/pgp-business-analysis-certification-training-course"
                                                                                                      title="Business Analysis Certification Course">
                                                    Business Analysis
                                                    Certification Course
                                                </a>
                                            </div>
                                            <div>
                                                <p>Trending Master Programs</p><a href="https://www.simplydatatech.com/pmp-plus-bundle-masters-program"
                                                                                  title="PMP Plus Certification Training Course">
                                                    PMP Plus Certification
                                                    Training Course
                                                </a> | <a href="https://www.simplydatatech.com/big-data-and-analytics/senior-data-scientist-masters-program-training"
                                                          title="Data Science Certifiation Course">
                                                    Data Science Certifiation
                                                    Course
                                                </a> | <a href="https://www.simplydatatech.com/data-analyst-masters-certification-training-course"
                                                          title="Data Analyst Course">Data Analyst Course</a> |
                                                <a href="https://www.simplydatatech.com/masters-in-artificial-intelligence"
                                                   title="Masters in Artificial Intelligence">
                                                    Masters in Artificial
                                                    Intelligence
                                                </a> | <a href="https://www.simplydatatech.com/cloud-solutions-architect-masters-program-training"
                                                          title="Cloud Architect Certification Training Course">
                                                    Cloud Architect
                                                    Certification Training Course
                                                </a> | <a href="https://www.simplydatatech.com/devops-engineer-masters-program-certification-training"
                                                          title="DevOps Engineer Certification Training Course">
                                                    DevOps Engineer
                                                    Certification Training Course
                                                </a> | <a href="https://www.simplydatatech.com/advanced-digital-marketing-certification-training-course"
                                                          title="Digital Marketing Course">Digital Marketing Course</a> |
                                                <a href="https://www.simplydatatech.com/cyber-security-expert-master-program-training-course"
                                                   title="Cyber Security Expert Course">Cyber Security Expert Course</a> |
                                                <a href="https://www.simplydatatech.com/full-stack-web-developer-mean-stack-certification-training"
                                                   title="MEAN Stack Developer Course">MEAN Stack Developer Course</a> |
                                                <a href="https://www.simplydatatech.com/business-analyst-certification-training-course"
                                                   title="Business Analyst Course">Business Analyst Course</a>
                                            </div>
                                            <div>
                                                <p>Trending Courses</p><a href="https://www.simplydatatech.com/project-management/pmp-certification-training"
                                                                          title="PMP Certification Training Course">
                                                    PMP Certification Training
                                                    Course
                                                </a> | <a href="https://www.simplydatatech.com/agile-and-scrum/csm-certification-training"
                                                          title="CSM Certification Course">CSM Certification Course</a> | <a href="https://www.simplydatatech.com/big-data-and-analytics/python-for-data-science-training"
                                                                                                                             title="Data Science with Python Course">
                                                    Data Science with Python
                                                    Course
                                                </a> | <a href="https://www.simplydatatech.com/it-service-management/togaf-certification-program-training"
                                                          title="TOGAF Certification Course">TOGAF Certification Course</a> | <a href="https://www.simplydatatech.com/it-service-management/itil-foundation-training"
                                                                                                                                 title="ITIL 4 Foundation Certification Training Course">
                                                    ITIL 4
                                                    Foundation Certification Training Course
                                                </a> | <a href="https://www.simplydatatech.com/cyber-security/cissp-certification-training"
                                                          title="CISSP Certification Training">CISSP Certification Training</a> |
                                                <a href="https://www.simplydatatech.com/big-data-and-analytics/big-data-and-hadoop-training"
                                                   title="Big Data Hadoop Course">Big Data Hadoop Course</a> | <a href="https://www.simplydatatech.com/agile-and-scrum/safe-agilist-certification-training"
                                                                                                                  title="Leading SAFe ® 6 training with SAFe Agilist Certification">
                                                    Leading
                                                    SAFe ® 6 training with SAFe Agilist Certification
                                                </a>
                                            </div>
                                            <div>
                                                <p>Trending Resources</p><a href="https://www.simplydatatech.com/tutorials/python-tutorial"
                                                                            title="Python Tutorial">Python Tutorial</a> | <a href="https://www.simplydatatech.com/tutorials/javascript-tutorial"
                                                                                                                             title="JavaScript Tutorial">JavaScript Tutorial</a> | <a href="https://www.simplydatatech.com/tutorials/java-tutorial"
                                                                                                                                                                                      title="Java Tutorial">Java Tutorial</a> | <a href="https://www.simplydatatech.com/tutorials/angular-tutorial"
                                                                                                                                                                                                                                   title="Angular Tutorial">Angular Tutorial</a> | <a href="https://www.simplydatatech.com/tutorials/nodejs-tutorial"
                                                                                                                                                                                                                                                                                      title="Node.js Tutorial">Node.js Tutorial</a> | <a href="https://www.simplydatatech.com/tutorials/docker-tutorial"
                                                                                                                                                                                                                                                                                                                                         title="Docker Tutorial">Docker Tutorial</a> | <a href="https://www.simplydatatech.com/tutorials/git-tutorial"
                                                                                                                                                                                                                                                                                                                                                                                          title="Git Tutorial">Git Tutorial</a> | <a href="https://www.simplydatatech.com/tutorials/kubernetes-tutorial"
                                                                                                                                                                                                                                                                                                                                                                                                                                     title="Kubernetes Tutorial">Kubernetes Tutorial</a> | <a href="https://www.simplydatatech.com/tutorials/power-bi-tutorial"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              title="Power BI Tutorial">Power BI Tutorial</a> | <a href="https://www.simplydatatech.com/tutorials/css-tutorial"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   title="CSS Tutorial">CSS Tutorial</a>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                            <div class="footer-end">
                                <div class="simpli_certification container">
                                    <button class="ot-sdk-show-settings"
                                            id="oneTrustPopup" style="display:none">
                                        OK
                                    </button>
                                    <ul class="simpli_terms">
                                        <li>
                                            <a href="/home/terms"
                                               rel="nofollow" title="Terms of Use">Terms of Use</a>
                                        </li>
                                        <li>
                                            <a href="/home/privacypolicy"
                                               rel="nofollow" title="Privacy Policy">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="/home/refund"
                                               rel="nofollow" title="Refund Policy">Refund Policy</a>
                                        </li>
                                        <li>
                                            <a href="/home/Shipping"
                                               rel="nofollow" title="Shipping & Delivery Policy">
                                                Shipping & Delivery Policy
                                            </a>
                                        </li>
                                        @*<li id="footer-country">
                                                <div>
                                                    <span>Country</span><a class="country-flg country-flag-btn"
                                                                           rel="nofollow" title="Country Flag">
                                                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAVCAYAAAAnzezqAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAFwSURBVHja7JZLL0NRFIW/cx+9pYrSEpV4pImoSJRGOmBKTPwR7c8x8QNEIjESicfEDENRI6UjrUsZ3FOVXu29BgxMT0M7YE3OnpxkZe+11t7C30rfA3FA0l6EgZLxVfDtbSsJjQ7jn4CBW+0wgUCP+q+mD90GDIdAF2DXQLqftSKE75QcJQd4HvT18FKWnJ3eUXebZJYnGE1EwXFAKE1VCt/3HVULPjy5bO89MBQLYgY0CreS9dUYczPK3ZQtiXB354qJ2Bvx/hraW4XFJBzuX7fHBfX6O9GogWWZZLMnbGwcYZo6yWQv+fxjCyJUhGWZOI5POOyRy6WpVl10XVAsvrK2NvX7BABWVxIcH5SZnR5DCLi8qJBZGicQ0FtwQbOhLEI0ncLNMxfn97y7Hqn5YVILI4AHnq/mgrnNSWUCjYbH4GAXkUgQIUBKF9uuoWkCoRYF0ri0i61F2PMPJeFAyPrfhn99HX/eguEO3YTyYwA5xXRn1+PnWgAAABZ0RVh0QXV0aG9yAElQMkxvY2F0aW9uLmNvbX+XuQ4AAAAASUVORK5CYII="
                                                             width="32" height="17" alt="Country Flag"
                                                             class="country-flag-btn gm-added gm-observing gm-observing-cb"
                                                             loading="lazy"><b class="caret country-flag-btn"></b>
                                                    </a>
                                                </div>
                                            </li>*@
                                        <li class="copy_rights copy_address">
                                            <h2>
                                                Address: S-1/201,2nd floor, Nafees Road , batla house, jamia nagar, okhla South Delhi 110025, Email:info@simplydatatech.com
                                            </h2>
                                        </li>

                                        <li class="copy_rights">
                                            © 2023 - simplydatatech.com
                                        </li>
                                    </ul>
                                    <div class="footer_date">smpl_2023-07-15</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                @*<div class="disc-section" id="disclaimers">
                        <div class="container disclam-container">
                            <ul>
                                <li>Disclaimer</li>
                                <li>
                                    PMP, PMI, PMBOK, CAPM, PgMP, PfMP, ACP, PBA, RMP, SP, and OPM3 are registered marks of
                                    the Project Management Institute, Inc.
                                </li>
                                <li>
                                    ITIL® is a registered trade mark of AXELOS Limited, used under permission of AXELOS
                                    Limited. All rights reserved.
                                </li>
                                <li>
                                    IT Infrastructure Library is a [registered] trade mark of AXELOS Limited used, under
                                    permission of AXELOS Limited. All rights reserved.
                                </li>
                                <li>
                                    The Swirl logo™ is a trade mark of AXELOS Limited, used under permission of AXELOS
                                    Limited. All rights reserved.
                                </li>
                                <li>
                                    PRINCE2® is a [registered] trade mark of AXELOS Limited, used under permission of AXELOS
                                    Limited. All rights reserved.
                                </li>
                                <li>
                                    MSP® is a [registered] trade mark of AXELOS Limited, used under permission of AXELOS
                                    Limited. All rights reserved.
                                </li>
                                <li>
                                    Certified ScrumMaster® (CSM) and Certified Scrum Trainer® (CST) are registered
                                    trademarks of SCRUM ALLIANCE®
                                </li>
                                <li>Professional Scrum Master is a registered trademark of Scrum.org</li>
                                <li>
                                    The APMG-International Finance for Non-Financial Managers and Swirl Device logo is a
                                    trade mark of The APM Group Limited.
                                </li>
                                <li>The Open Group®, TOGAF® are trademarks of The Open Group.</li>
                                <li>
                                    IIBA®, the IIBA® logo, BABOK® and Business Analysis Body of Knowledge® are registered
                                    trademarks owned by International Institute of Business Analysis.
                                </li>
                                <li>
                                    CBAP® is a registered certification mark owned by International Institute of Business
                                    Analysis. Certified Business Analysis Professional, EEP and the EEP logo are trademarks
                                    owned by International Institute of Business Analysis.
                                </li>
                                <li>
                                    COBIT® is a trademark of ISACA® registered in the United States and other countries.
                                </li>
                                <li>
                                    CISA® is a Registered Trade Mark of the Information Systems Audit and Control
                                    Association (ISACA) and the IT Governance Institute.
                                </li>
                                <li>
                                    CISSP® is a registered mark of The International Information Systems Security
                                    Certification Consortium ((ISC)2).
                                </li>
                                <li>
                                    CISCO®, CCNA®, and CCNP® are trademarks of Cisco and registered trademarks in the United
                                    States and certain other countries.
                                </li>
                                <li>
                                    simplydatatech and its affiliates, predecessors, successors and assigns are in no way
                                    associated, sponsored or promoted by SAP SE and neither do they provide any SAP based
                                    online or real-time courses or trainings
                                </li>
                                <li>
                                    The KPMG name and logo are trademarks used under license by the independent member firms
                                    of the KPMG global organization. KPMG International’s Trademarks are the sole property
                                    of KPMG International and their use here does not imply auditing by or endorsement of
                                    KPMG International or any of its member firms.
                                </li>
                            </ul>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>








    <!-- <script defer="" src="./assets/js/sha256.js"></script> -->
    <!-- <script defer="" src="./assets/js/home.nfxm91n1p1.js"></script> -->
    <!-- <script defer="" src="./assets/js/vendor.nfxm91n1p1.js"></script> -->



    <link href="~/assets/css/home-lazy.css" rel="stylesheet">







    <!-- <script type="text/javascript" id="6senseWebTag" src="./assets/js/aba49154-3ac6-4297-839c-2d581677fb46.js"></script> -->
    <!-- <div style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon312287466782"><img
            style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon951084118310" width="0"
            height="0" alt="" src="./assets/js/0" class="gm-added gm-observing gm-observing-cb" loading="lazy"></div> -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>*@
    <!-- Modal -->
    <div class="ebook-modal modal course-popup  eligible-wrapper " id="callbackleadmodel" style="display:none">
        <div class="modal-dialog">
            <div class="modal-content">
                <a href="" class="close" id="modelclose"></a>
                <div class="modal-body">
                    <div>
                        <div>
                            <div id="lead-response"></div>
                            <div class="callback-forms" id="requesttocallback-desktop">
                                <p>Leave your details and Our training consultant will get back to you</p><form novalidate="" method="POST">
                                    <div class="form-control">
                                        <input name="name" type="text" aria-label="text" class="aname" placeholder="Name*" value="">
                                        <div class="floating-label_border"></div>
                                    </div><div class="form-email">
                                        <div class="form-control">
                                            <input name="email" type="email" aria-label="email" class="aemail" placeholder="Email*" value="">
                                            <div class="floating-label_border">
                                            </div>
                                        </div>
                                    </div><div class="country-code">
                                        <span class="phoneCodeId">+91</span>
                                        <div class="form-control">
                                            <input name="personPhone" type="text" aria-label="text" class="emobile" placeholder="Phone Number*" value="">
                                            <div class="floating-label_border"></div>
                                        </div>
                                    </div><div>
                                        <div class="form-select-control ">
                                            <div class="arrow-icon">
                                                <select name="course" id="course" class="course" aria-label="course">
                                                    <option value="">Select Program</option>
                                                    <option value="Data Science ">Data Science</option>
                                                    <option value="Data Analyst">Data Analyst</option>
                                                    <option value="Digital Marketing">Digital Marketing</option>
                                                    <option value="Investment Banking">Investment Banking</option>

                                                </select>
                                            </div>
                                        </div>
                                        @*<span class="country_code_span country_code_span_new_sub">I'm</span>
                                            <select name="learnerType">
                                                <option value="an individual learner">an individual learner</option>
                                                <option value="a group of 3 or more learners">a group of 3 or more learners</option>
                                                <option value="a business">a business</option>
                                                <option value="an affiliate">an affiliate</option>
                                                <option value="a trainer">a trainer</option>
                                            </select>*@
                                    </div>
                                    <br>
                                    @*<div class="form-checkbox">
                                            <label class="">
                                                <input type="checkbox" name="agree" value="true" checked="">
                                                <span class="checkbox-material">
                                                    <span class="check"></span>
                                                </span>By providing your contact details, you agree to our
                                                <a href="#privacy-policy" rel="noreferrer" target="_blank" class="doc-privacy-policy"> Privacy Policy</a>
                                            </label>
                                        </div>*@
                                    <button type="submit" id="requesttocallbackSubmit" class="">SUBMIT</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" id="zsiqchat">var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq || { widgetcode: "siq28635fe41864fa6fa671ca4122d6aef10abdf9ab26f5c2d8e997de85591f7d3a", values: {}, ready: function () { } }; var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true; s.src = "https://salesiq.zohopublic.in/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t);</script>
    <script>
        $(function () {
            $(".courses-menu").click(function () {
                $("#MegaMenu").removeClass("hide");
                $("#megamenu-mobile-overlay").removeClass("hide");
            });
            $(".back-btn").click(function () {
                $("#MegaMenu").addClass("hide");
                $("#megamenu-mobile-overlay").addClass("hide");
            });
            $(".search_topbar").click(function (e) {
                $(".search").addClass("search-enabled");
                $(".toogle-search-icon").addClass("search-enabled-icon");
                e.stopPropagation();
            });
            $("body").click(function () {
                $(".search").removeClass("search-enabled");
                $(".toogle-search-icon").removeClass("search-enabled-icon");
            });
            $("#menu-button , #MegaMenu")
                .on("mouseover", function () {
                    $("#MegaMenu").removeClass("hide");
                    $("#megamenu-box").removeClass("hide");
                })
                .on("mouseout", function () {
                    $("#MegaMenu").addClass("hide");
                    $("#megamenu-box").addClass("hide");
                });
            $(".menu-item")
                .on("mouseover", function () {
                    $(".menu-item").removeClass("active");
                    $(this).addClass("active");
                })
                .on("mouseout", function () {

                });
            var swiper = new Swiper('.swiper-container', {

                slidesPerView: 'auto',
                paginationClickable: true,
                spaceBetween: 0
            });
            $(".query, .sticky_request_call,.requestfordemo, #TalkToAdmission, #ApplyNowForm, #enterpriseInquiry").click(function () {
                $("#callbackleadmodel").show();
            })
            $("#modelclose").click(function () {
                $("#callbackleadmodel").hide();
            })
            $("#requesttocallbackSubmit, #dynid6042").click(function () {
                var name = $(".aname").val();
                var email = $(".aemail").val();
                var mobile = $(".emobile").val();
                var course = $(".course").val();
                sendquery(name, email, mobile, course, "")
            });
            $("#dynid6042").click(function () {
                var name = $(".dname").val();
                var email = $(".demail").val();
                var mobile = $(".dmobile").val();
                var course = $(".dcourse").val();
                sendquery(name, email, mobile, course, "")
            })
            $("#b2b-form-submit").click(function () {
                var name = $(".hname").val();
                var email = $(".hemail").val();
                var mobile = $(".hmobile").val();
                var course = $(".hcourse").val();
                var linkedin = $(".hlinkedin").val();
                sendquery(name, email, mobile, course, linkedin)
            })
            function sendquery(name, email, mobile, course, linkedin) {
                var formdata = {
                    name: name,
                    email: email,
                    mobile: mobile,
                    course: course,
                    linkedinurl: linkedin,
                }
                $.ajax({
                    url: '/home/Callbackrequest',
                    type: 'POST',
                    dataType: 'json',
                    data: formdata,
                    success: function (data) {
                        console.log(data);
                        if (data) {
                            alert("Your response is submited, Team is get back to you soon. Thank you!");
                        } else {
                            alert("Something went wrong");
                        }
                    },

                    error: function (err) {
                        alert("Something went wrong");
                    }
                });
            }
        })

    </script>
</body>

</html>